<div class="page-header">
  <h1>
    Route requests
    <a href="/route_requests/new" class="btn btn-lg btn-success">New Route request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Id</th>
        <th>Origin City</th>
        <th>Origin Place</th>
        <th>Origin Departure Date</th>
        <th>Origin Departure Time</th>
        <th>Destination City</th>
        <th>Destination Place</th>
        <th>Destination arrival date time</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
      <% @route_requests = RouteRequest.all %>
      <% @route_requests.each do |route_request| %>
      <tr>
        <td><%= route_request.id %></td>
        <td><%= route_request.origin_city %></td>
        <td><%= route_request.origin_place %></td>
        <td><%= route_request.origin_departure_date %></td>
        <td><%= route_request.origin_google_suggested_departure_time %></td>

        <td><%= route_request.destination_city %></td>
        <td><%= route_request.destination_place %></td>
        <td><%= route_request.destination_arrival_date_time %></td>
        <td>
          <% if route_request.user.present? %>
          <a href="/users/<%= route_request.user.id %>">
            <%= route_request.user.name %>
          </a>
          <% end %>
        </td>
        <td>
          <a href="/route_requests/<%= route_request.id %>" class="btn btn-primary">Show</a>

          <% if current_user == route_request.user %>
          <a href="/route_requests/<%= route_request.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_route_request/<%= route_request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
