
<html>
<body>
  <script src="https://code.js/jquery-1.11.0.min.js"></script>
  <script src="https://code.js/bootstrap.min.js"></script>
  <script src="https://code.js/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyCAT7h418C4ZFadwmv5cRkvj_HNo9e9LHM"></script>

  <div class="conainer">
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p>Origin Requested:<%= @origin_request%></p>
        <p>Origin Requested:<%= @origin_request_no_space%></p>
        <p>Query:<%= @url_origin%></p>
        <p>Parsed Data:<%=@parsed_data_origin%></p>
        <p>Status:<%=@status_origin%></p>
        <p>Google ID:<%=@google_id_origin%></p>
        <script>
        var map;
        var service;
        var infoWindow;
        function initialize() {

          var myLatlng = new google.maps.LatLng('41.8853195', '-87.6282337');

          var mapOptions = {
            zoom: 14,
            center: myLatlng
          };

          map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
          infoWindow = new google.maps.InfoWindow();
          var service = new google.maps.places.PlacesService(map);

          service.getDetails({
            placeId: '<%=@google_id_origin%>'
          }, function(result, status) {
            if (status != google.maps.places.PlacesServiceStatus.OK) {
              alert(status);
              return;
            }
            var marker = new google.maps.Marker({
              map: map,
              position: result.geometry.location,
            });
            var address = result.adr_address;
            var newAddr = address.split("</span>,");

            infoWindow.setContent(result.name + "<br>" + newAddr[0] + "<br>" + newAddr[1] + "<br>" + newAddr[2]);
            infoWindow.open(map, marker);
          });

        }

        google.maps.event.addDomListener(window, 'load', initialize);

        </script>
        <div id="map-canvas" style="width: 400px; height: 300px;">
          <div id="map-canvas"></div>
        </div>

      </body>
      </html>
    </div>
    <div class="col-md-5">
      <p>Destination Requested:<%= @destination_request%></p>
      <p>Destination Requested:<%= @destination_request_no_space%></p>
      <p>Query:<%= @url_destination%></p>
      <p>Parsed Data:<%=@parsed_data_destination%></p>
      <p>Status:<%=@status_destination%></p>
      <p>Google ID:<%=@google_id_destination%></p>
      <script>
      var map_destination;
      var service_destination;
      var infoWindow_destination;
      function initialize_destination() {

        var myLatlng_destination = new google.maps.LatLng('41.8853195', '-87.6282337');

        var mapOptions_destination = {
          zoom: 14,
          center: myLatlng_destination
        };

        map_destination = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions_destination);
        infoWindow_destination = new google.maps.infoWindow();
        var service_destination = new google.maps.places.PlacesService(map_destination);

        service.getDetails({
          placeId: '<%=@google_id_destination%>'
        }, function(result_destination, status_destination) {
          if (status_destination != google.maps.places.PlacesServiceStatus.OK) {
            alert(status_destination);
            return;
          }
          var marker_destination = new google.maps.Marker({
            map: map_destination,
            position: result.geometry.location,
          });
          var address_destination = result.adr_address;
          var newAddr_destination = address.split("</span>,");

          infoWindow_destination.setContent(result_destination.name + "<br>" + newAddr_destination[0] + "<br>" + newAddr_destination[1] + "<br>" + newAddr_destination[2]);
          infoWindow_destination.open(map_destination, marker_destination);
        });

      }

      google.maps.event.addDomListener(window, 'load', initialize_destination);

      </script>
      <div id="map-canvas" style="width: 400px; height: 300px;">
        <div id="map-canvas"></div>
      </div>
    </div>
  </body>
  </html>
</div>
</div>
</div>
