<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Father last name</dt>
      <dd><%= @user.father_last_name %></dd>

      <dt>Mother last name</dt>
      <dd><%= @user.mother_last_name %></dd>

      <dt>Middle name</dt>
      <dd><%= @user.middle_name %></dd>

      <dt>Phone number</dt>
      <dd><%= @user.phone_number %></dd>

      <dt>Mobile number</dt>
      <dd><%= @user.mobile_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many route_requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Route_requests
      </li>

      <% @user.route_requests.each do |route_request| %>
        <li class="list-group-item">
          <a href="/route_requests/<%= route_request.id %>">
            <%= route_request.origin_query %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/route_requests/<%= route_request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/route_requests/<%= route_request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_route_request/<%= route_request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many confirmed_passengers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Confirmed_passengers
      </li>

      <% @user.confirmed_passengers.each do |confirmed_passenger| %>
        <li class="list-group-item">
          <a href="/confirmed_passengers/<%= confirmed_passenger.id %>">
            <%= confirmed_passenger.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/confirmed_passengers/<%= confirmed_passenger.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/confirmed_passengers/<%= confirmed_passenger.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_confirmed_passenger/<%= confirmed_passenger.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
