<div class="page-header">
  <h1>
    Route poolings
    <a href="/route_poolings/new" class="btn btn-lg btn-success">New Route pooling</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Arrival date time</th>
        <th>Origin place</th>
        <th>Origin city</th>
        <th>Origin google</th>
        <th>Destination place</th>
        <th>Destination city</th>
        <th>User</th>
        <th>Route request</th>
        <th>Passengers pooled</th>
        <th>Average buffer time</th>
        <th>Google suggested departure time</th>
        <th>Confirmed route</th>
        <th>Actions</th>
      </tr>

      <% @route_poolings.each do |route_pooling| %>
      <tr>
        <td><%= route_pooling.arrival_date_time %></td>
        <td><%= route_pooling.origin_place %></td>
        <td><%= route_pooling.origin_city %></td>
        <td><%= route_pooling.origin_google_id %></td>
        <td><%= route_pooling.destination_place %></td>
        <td><%= route_pooling.destination_city %></td>
        <td><%= route_pooling.user_id %></td>
        <td><%= route_pooling.route_request.origin_query %></td>
        <td><%= route_pooling.passengers_pooled %></td>
        <td><%= route_pooling.average_buffer_time %></td>
        <td><%= route_pooling.google_suggested_departure_time %></td>
        <td><%= route_pooling.confirmed_route %></td>
        <td>
          <a href="/route_poolings/<%= route_pooling.id %>" class="btn btn-primary">Show</a>
          <a href="/route_poolings/<%= route_pooling.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_route_pooling/<%= route_pooling.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
