<div class="page-header">
  <h1>
    Route Poolings in Progress
  </h1>
  <h4>
    Once there is enough demand for any given route (at least 3 passengers), it will be confirmed automatically
  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <% @route_requests = RouteRequest.all %>

    <% @poolings%>

    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Destination Arrival Time</th>
        <th>Passengers IDs</th>
        <th>Passengers pooled</th>
        <th>Route confirmed</th>

      </tr>
      <% @poolings.each do |route_pooling| %>
      <tr>
        <% if route_pooling[1]>= 3 %>
        <% confirmed = true %>
        <% route_pooling[3] = confirmed %>
        <% route_pooling[2] = RouteRequest.where(origin_place: route_pooling[0][1], destination_place: route_pooling[0][2], origin_departure_date: route_pooling[0][0], destination_arrival_time_interval: route_pooling[0][3]).pluck(:user_id)%>
        <% route_pooling = RoutePooling.new%>
        <% else %>
        <%  confirmed = false%>
        <td><%= route_pooling[0][0] %></td>
        <td><%= route_pooling[0][1] %></td>
        <td><%= route_pooling[0][2] %></td>
        <td><%= route_pooling[0][3] %></td>
        <td><%= route_pooling[2] = RouteRequest.where(origin_place: route_pooling[0][1], destination_place: route_pooling[0][2], origin_departure_date: route_pooling[0][0], destination_arrival_time_interval: route_pooling[0][3]).pluck(:user_id)%></td>
        <td><%= route_pooling[1] %></td>
        <td><%= route_pooling[3] = confirmed %></td> <!-- Logic Pending -->

        <%  end%>
        <% end %>


      </table>

    </div>
  </div>
