<div class="page-header">
  <h3>Route Pooling #<%= @route_pooling.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Arrival date time</dt>
      <dd><%= @route_pooling.arrival_date_time %></dd>

      <dt>Origin place</dt>
      <dd><%= @route_pooling.origin_place %></dd>

      <dt>Origin city</dt>
      <dd><%= @route_pooling.origin_city %></dd>

      <dt>Origin google</dt>
      <dd><%= @route_pooling.origin_google_id %></dd>

      <dt>Destination place</dt>
      <dd><%= @route_pooling.destination_place %></dd>

      <dt>Destination city</dt>
      <dd><%= @route_pooling.destination_city %></dd>

      <dt>User</dt>
      <dd><%= @route_pooling.user_id %></dd>

      <dt>Route request</dt>
      <dd>
        <% if @route_pooling.route_request.present? %>
          <a href="/route_requests/<%= @route_pooling.route_request_id %>">
            <%= @route_pooling.route_request.origin_query %>
          </a>
        <% end %>
      </dd>

      <dt>Passengers pooled</dt>
      <dd><%= @route_pooling.passengers_pooled %></dd>

      <dt>Average buffer time</dt>
      <dd><%= @route_pooling.average_buffer_time %></dd>

      <dt>Google suggested departure time</dt>
      <dd><%= @route_pooling.google_suggested_departure_time %></dd>

      <dt>Confirmed route</dt>
      <dd><%= @route_pooling.confirmed_route %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/route_poolings" class="btn btn-primary">
        Back
      </a>
      <a href="/route_poolings/<%= @route_pooling.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_route_pooling/<%= @route_pooling.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Route pooling has many confirmed_passengers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Confirmed_passengers
      </li>

      <% @route_pooling.confirmed_passengers.each do |confirmed_passenger| %>
        <li class="list-group-item">
          <a href="/confirmed_passengers/<%= confirmed_passenger.id %>">
            <%= confirmed_passenger.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/confirmed_passengers/<%= confirmed_passenger.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/confirmed_passengers/<%= confirmed_passenger.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_confirmed_passenger/<%= confirmed_passenger.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_confirmed_passenger" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for route_pool_id -->
      <div class="form-group">
        <label for="route_pool_id" class="control-label">
          Route pool
        </label>

        <%= select_tag(:route_pool_id, options_from_collection_for_select(RoutePooling.all, :id, :arrival_date_time), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for passenger_name -->
      <div class="form-group">
        <label for="passenger_name" class="control-label">
          Passenger name
        </label>

        <input type="text" id="passenger_name" name="passenger_name" placeholder="Passenger name" class="form-control" value="">
      </div>

      <!-- Label and input for passenger_last_name -->
      <div class="form-group">
        <label for="passenger_last_name" class="control-label">
          Passenger last name
        </label>

        <input type="text" id="passenger_last_name" name="passenger_last_name" placeholder="Passenger last name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Confirmed Passenger
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
